<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Выбор продукта</title>
</head>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    /* Локализация datepicker */
    $.datepicker.regional['ru'] = {
        closeText: 'Закрыть',
        prevText: 'Предыдущий',
        nextText: 'Следующий',
        currentText: 'Сегодня',
        monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
        dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
        dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
        dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        weekHeader: 'Не',
        dateFormat: 'yy-mm-dd',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['ru']);
</script>
<body>
<div class="container">
    <form th:action="@{'/currency'}" th:object="${currency}" method="post">
        <br/>
        <input hidden name="abbreviation" th:value="${currency.getAbbreviation() != null ? currency.getAbbreviation() : ''}"/>
        <input hidden name="id" th:value="${currency.getCode() != null ? currency.getCode() : 0}"/>
        <div class="row">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" name="name" id="exampleFormControlSelect1" th:value="${currency.getName()}">
                    <option>Доллар США</option>
                    <option>Евро</option>
                    <option>Российский рубль</option>
                </select>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <div>
                    <label for="datepickerstart" id="start-p">Start Date</label>
                    <input type="text" name="startDate" id="datepickerstart" th:value="${currency.getStartDate()}">
                    <span class="fa fa-calendar" id="fa-1"></span>
                </div>
            </div>
            <div class="col col-md-6">
                <div>
                    <label for="datepickerend" id="end-p">End Date</label>
                    <input type="text" name="endDate" id="datepickerend" th:value="${currency.getEndDate()}">
                    <span class="fa fa-calendar" id="fa-2"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
        <div class="row">
            <div class="col-1">
                <button type="button submit" class="btn btn-success">Success</button>
            </div>
        </div>

    </form>
</div>

</body>
</html>
<script>
    $(function () {
        $("#datepickerstart").datepicker();
    });
    $(function () {
        $("#datepickerend").datepicker();
    });
</script>